<html>
<head>
	<link rel="stylesheet" href="css/login.css"/>
	<link rel="icon" href="images/user.svg" type="image/svg"/>
	<script src="js/jquery-latest.js"></script>
	<script src="js/login.js"></script>
	<title>Sign in</title>
</head>
<body>
	<p class="time">Visit Time: </p>
	<div class="mainContainer">
		<h1>Sign in to Puzzle Game</h1>
		<div class="formContainer">
			<form action="/game" method="post">
				<input class="info" type="text" name="username" placeholder="Username">
				<input class="info" type="text" name="account" placeholder="Account">
				<input class="info" type="password" name="password" placeholder="Password">
				<input class="button" type="submit" value="login">
			</form>
		</div>
	</div>
</body>
</html>
